{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>
    <div>
        <img src = "{{ url_for('static', filename='movieBackground.jpg.tiff') }}"  }}>
    </div>

    {% for genre in movies %}
        <div>
            <table>
              <tr><th>{{ genre }}</th></tr>
                {% for movie in movies[genre] %}
                <tr>
                    <td>{{ movie[0] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
{% endblock %}
